<div class = "col">
  <div class = "row my-2">
  <div class="col text-center">
     <h1> Article list <%= link_to '',new_article_path, class: 'fas fa-plus-circle fas-btn'%></h1>
     </div>
  </div>

<div class="row">
    <article-list class="col">
      <% @articles.reverse_order.each do |article| %>
          <listed-article class="row">
            <div class="col-lg-10 col-md-9 col-12">
              <header class="row">
                <h3><%= link_to article.title,article_path(article)%></h3>
              </header>
              <p class="row"><%= truncate(article.text, length: 200)  %></p>
              <div class="row"><%= link_to 'View',article_path(article), class:"btn btn-md btn-info" %></div>
            </div>
            <datebox class = "col-lg-2 col-md-3 col-12">
              <h4><%= article.created_at.strftime('%Y/%m/%d')%></h4>
              <h3>
                <%= link_to '',  edit_article_path(article),  class:'fas fas-btn fa-pen'%>
                <%= link_to '',article_path(article),method: :Delete, data: {confirm: 'Are you sure?'}, class:"fas fas-btn fa-trash-alt" %> 
                <i class="fas fa-comment "></i>  <%= article.comments.count%>
              </h3>

            </datebox>

          </listed-article>
      <%end%>
    </article-list>
    </div>
    </div>
